.about-wrapper {
    .mission-content-wrapper{
        width: 50%;
        margin: 0px auto;
        line-height: 1.5;
        background-color: $secondary-blue;
        @include shadow();
        padding: 29px 50px;
        .mission-bullets{
            text-align: start;
            margin: 0 30px;
        }
    }
    .about-content-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        gap: 39px;
        margin: 0px auto;
        .left-side {
            
            img {
                border-radius: 50%;
                height: 350px;
            }

            .mena-bio {
                background-color: $secondary-blue;
                @include shadow();
                padding: 29px 50px;
            }


        }
        .right-side {
            background-color: $secondary-blue;
            @include shadow();
            padding: 15px 20px;
        }
    }

    .staff-grid-wrapper {
        .staff-grid-2 {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 25px;
            width: 80%;
            margin: auto;
            .staff-member {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    border-radius: 50%;
                    height: 350px;
                    width: 350px;
                    margin: 50px 0 25px 0;
                }
                p {
                    width: 80%;
                    margin: auto;
                    background-color: #B0DBE5;
                    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
                    padding: 29px 50px;
                }
                
            }
        }
        .staff-grid-3 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 25px;
            width: 80%;
            margin: auto;
            .staff-member {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    border-radius: 50%;
                    height: 250px;
                    width: 250px;
                    margin: 50px 0 25px 0;
                }
                
            }
        }
        .staff-grid-2s {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 25px;
            width: 56%;
            margin: auto;
            justify-content: center;
            .staff-member {
                display: flex;
                flex-direction: column;
                align-items: center;
                img {
                    border-radius: 50%;
                    height: 250px;
                    width: 250px;
                    margin: 50px 0 25px 0;
                }
                
            }
        }
    }
}
