
.bg-wrapper {
    height: 90vh;
  background-image: linear-gradient(
    rgba(255,255,255,1),
    rgba(255,255,255,0.5)
    ),
    url("../assets/media/main_bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-color: $secondary-blue;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

.nav-wrapper{
    display: flex;
    justify-content: space-around;

    .left-side {
        display: flex;
        justify-content: flex-start;
        padding-left: 5%;
        width: 50%;
        align-items: center;
        
        a {
            text-decoration: none;
            background-color: $brown;
            padding: 15px 10px;
            color: white;
            border-radius: 3px;
            transition: 0.2s ease-in-out;

            &:hover{
                box-shadow: 10px 10px 15px -7px rgba(0,0,0,0.75);
                
            }

            &:active{
                transform: translateY(4px);
                box-shadow: 0 0 #aaa;
            }
        }

        img {
            height: 80px;
            
        }

    }

    #nav-menu {
        width: 50%;
    }
    .right-side {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        align-items: center;

        .nav-link-wrapper {

            &:nth-child(1) {
                display: none;
            }
        }



        


        a {
            text-decoration: none;
            color: black;
            font-weight: 600;
            padding: 10px 11px;
            border: 1px solid transparent;
            
            transition: 0.3s ease-in-out;
            
            &:hover{
                box-shadow: 10px 10px 15px -7px rgba(0,0,0,0.75);
                background-color: $primary-blue;
                color: white;
                font-weight: 300;
                padding: 10px 10px;
                border-radius: 3px;
                font-weight: 600;
            }

            &:active{
                transform: translateY(4px);
                box-shadow: 0 0 #aaa;
            }

        }
    }
    .nav-link-wrapper svg{
        display: none;
        color: $primary-blue;
}

}

.bg-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    
    .left-side {
        img {
            height: 75vh;
            margin: 50px 0px;
        }
    }

    .right-side {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 500px;
        font-size: 1.5em;
        .more-info-btn {
            
            a {
                background-color: $primary-blue;
                text-decoration: none;
                padding: 30px 35px;
                color: white;
                font-size: 0.9em;
                transition: 0.5s ease-in-out;

                &:hover{
                    box-shadow: 10px 10px 15px -7px rgba(0,0,0,0.75);
                    
                }
    
                &:active{
                    transform: translateY(4px);
                    box-shadow: 0 0 #aaa;
                }
            }
        }   
    }
}


