

@media only screen and (max-width: 1500px) {
    .bg-wrapper {
        height: 85vh;
         .bg-content {
            .left-side {
                img {
                    height: 65vh;
                }
            }
             .right-side p {
                 font-size: 0.9em;
             }
         }
     }
     .body-wrapper {
         width: 98%;
         .top-card {
             p {
                 font-size: 1.8em;
             }
             .grid-container {
                 .right-side {
                     p{
                         font-size: 1em;
                     }
                 }
             }
             
         }
         .bottom-card {
             p {
                 font-size: 1.8em;
             }
             .grid-container {
                .left-side {
                    p {
                        font-size: 1em;
                    }
                }
            }
         }
     }
     .about-wrapper {
         .about-content-wrapper{
             width: 90%;
         }
     }
     .service-wrapper {
         .cards-wrapper {
             width: 95%;
             .service-content {
                .service-header {  
                    
                }
                .service-card {
                    
                    .left-side {
                    }
                    .right-side {
                        padding-right: 100px;
                        p {
                            font-size: 0.9em;
                        }
                    }
                }
            }
         }
         .service-content1 {
                .service-header {  
                    
                }
                .service-card {
                    .left-side {
                        padding-left: 100px;
                        p {
                            font-size: 0.9em;
                        }
                    }
                    .right-side {
                    }
                }
            }
         }
     .about-visit-info {
         font-size: 0.9em;
         width: 70%;
     }
     .form-wrapper {
         .patient-info-wrapper {
             @include small-form-input();
        }
         
         .emergency-contact-wrapper {
            @include small-form-input();
         }
         .doctor-info-wrapper {
            @include small-form-input();
         }
         .pharmacy-info-wrapper {
            @include small-form-input();
         }
         .first-insurance-info-wrapper {
            @include small-form-input();
         }
         .second-insurance-info-wrapper {
            @include small-form-input();
         }

     }

     .footer-wrapper {
        p {
            font-size: 1.4em;
            
        }
    }
     
    }
    

 @media only screen and (max-width: 1110px) {
    
    .bg-wrapper {
        height: 80vh;
        .bg-content {
            .left-side {
                img {
                    height: 55vh;
                }
            }
            .right-side p {
                font-size: 0.7em;
            }
        }
    }
    .about-wrapper {
        .about-content-wrapper{
            width: 98%;
            .left-side {
                .mena-bio h4, i, p {
                    font-size: 0.9em;
                }
            }
            .right-side strong, p {
                font-size: 0.9em; 
            }
        }

        
    }
    .service-wrapper {
        .cards-wrapper {
            width: 95%;
            .service-content {
               .service-header {  
                   
               }
               .service-card {
                   
                   .left-side {
                       img {
                           height: 250px;
                       }
                   }
                   .right-side {
                       padding-right: 80px;
                       p {
                           font-size: 0.8em;
                       }
                   }
               }
           }
        }
        .cards-wrapper {
            .service-content1 {
               .service-header {  
                   
               }
               .service-card {
                   .left-side {
                       padding-left: 80px;
                       p {
                           font-size: 0.8em;
                       }
                   }
                   .right-side {
                       
                       img {
                           height: 250px;
                       }
                   }
               }
           }
        }
        }
        .footer-wrapper {
            p {
                font-size: 1.3em;
                
            }
        }

 }

 @media only screen and (max-width: 940px) {
    
    
    .bg-wrapper {
        height: 75vh;
        .bg-content {
            display: flex;
            justify-content: center;
            .left-side {
                img {
                    height: 30vh;;
                }
            }
            
            .right-side  {
                justify-content: center;
                p {
                font-size: 0.7em;
                }
            }
            .more-info-btn  {
                a {
                padding: 10px 15px;
                font-size: 0.8em;
                }
            }
        }
    }
    .nav-wrapper {
        justify-content: flex-start;
        .left-side{
            a {
                font-size: 0.8em;
            }
        }

        .right-side {
            .nav-link-wrapper a {
                display: none;
            }
            
            
        }
        .nav-link-wrapper svg {
            display: block;
            font-size: 1.2em;
            cursor: pointer;
            position: absolute;
            right: 25px;
            top: 20px;
            color: $primary-blue;
        }
    
    }



    .body-wrapper {
        width: 100%;
        .top-card {
            p {
                font-size: 1.6em;
            }
            .grid-container {
                display: flex;
                flex-direction: column;
                .left-side {
                    width: 110%;
                
                }
                .right-side {
                    p{
                        font-size: 0.5em;
                    }
                }
            }
            
        }
        .bottom-card {
            p {
                font-size: 1.6em;
            }
            .grid-container {
                display: flex;
                flex-direction: column-reverse;
                .right-side {
                    width: 110%;
                }
                .left-side {
                   p {
                       font-size: 0.9em;
                   }
               }
           }
        }
    }
    .about-wrapper {
        .about-content-wrapper{
            width: 98%;
            .left-side {
                .mena-bio h4, i, p {
                    font-size: 0.8em;
                }
            }
            .right-side strong, p {
                font-size: 0.8em; 
            }
        }
        .staff-grid-wrapper {
            .staff-grid-2, .staff-grid-3, .staff-grid-2s {
                grid-template-columns: 1fr 1fr;
                .staff-member {
                    img {
                        height: 250px;
                        width: 250px;
                    }
                    strong, i, p {
                        font-size: 0.8em;
                    }
                }
            }
        }
    } 
    .service-wrapper {
        .cards-wrapper {
            .service-content {
               .service-header {  
                   
               }
               .service-card {
                   display: flex;
                   flex-direction: column;
                   .left-side {
                       padding: 0px;
                       img {
                           height: 220px;
                       }
                   }
                   .right-side {
                       padding: 10px 30px;
                       p {
                           font-size: 0.7em;
                       }
                   }
               }
           }
        }
        .cards-wrapper {
            .service-content1 {
            
               .service-header {  
                   
               }
               .service-card {
                display: flex;
                flex-direction: column-reverse;
                   .left-side {
                       padding: 10px 30px;
                       p {
                           font-size: 0.7em;
                       }
                   }
                   .right-side {
                       padding: 0px;
                       img {
                           height: 220px;
                       }
                   }
               }
           }
        }
        }
    .contact-wrapper {
        .contact-info {
            .left-side {
                .contact-item {
                    .icon-wrapper {

                    }
                    .contact-detail {
                        font-size: 0.8em;
                    }
                }
            }
        }
  }
  .contact-footer {
    p {
        font-size: 0.8em;
    }
  }
  .nav-wrapper{
    .right-side.responsive {
        background-color:$primary-blue ;
        height: 100%;
        width: 0%;
        position: fixed;
        right: 0;
        top: 0;
        z-index: 2;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: 0.5s ease-in-out;
       
    }
    
    
    .right-side.responsive  {
        .nav-link-wrapper {
            svg {
                position: absolute;
                top: 28px;
                right: 38px;
                z-index: 1;
            }
    
            a {
                display: block;
                color: white;
                transition: 1s ease-in-out;
                &:hover {
                    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
                        background-color: transparent;
                }
            }
    
            &:nth-child(1) {
                display: block;
                left: 15px;
                position: absolute;
                font-size: 2.7em;
                z-index: 5;
                transition: 1s ease-in-out;
            }
            &:nth-child(2) {
                margin-top: 75px;
            }
            
        }
    }
    }
    .footer-wrapper {
        p {
            font-size: 1.2em;
            
        }
    }
}

@media only screen and (min-width: 940px) {
    .nav-wrapper {
        #nav-menu[style]{
            width: 50% !important;
        }
    }

    .footer-wrapper {
        p {
            font-size: 1em;
            
        }
    }
}

@media only screen and (max-width:720px) {
    .about-wrapper {
        .about-content-wrapper{
            width: 98%;
            .left-side {
                img {
                    height: 300px;
                }
                .mena-bio h4, i, p {
                    font-size: 0.7em;
                }
            }
            .right-side strong, p {
                font-size: 0.7em; 
            }
        }
    
    .staff-grid-wrapper {
        .staff-grid-2, .staff-grid-3, .staff-grid-2s {
            .staff-member {
                img {
                    height: 220px;
                    width: 220px;
                }
                p {
                    width: 65%;
                }
                strong, i, p {
                    font-size: 0.7em;
                }
            }
        }
    }
}    
.about-visit-info {
    font-size: 0.8em;
    width: 70%;
}
.form-wrapper {
    .form-header{
        font-size: 1em;
    }
    .patient-info-wrapper {
        @include form-1-column();
        @include smaller-form-input();
    }
    .emergency-contact-wrapper {
        @include form-1-column();
        @include smaller-form-input();
    }
    .doctor-info-wrapper {
        @include form-1-column();
        @include smaller-form-input();
    }
    .pharmacy-info-wrapper {
        @include form-1-column();
        @include smaller-form-input();
    }
    .first-insurance-info-wrapper {
        @include form-1-column();
        @include smaller-form-input();
    }
    .second-insurance-info-wrapper {
        @include form-1-column();
        @include smaller-form-input();
    }
    
}
.contact-wrapper {
    .contact-info {
        display: flex;
        flex-direction: column;

        .right-side {
            height: 305px;
            div {
                div {
                    width: 100% !important;
                }
            }
        }
    }
}
.nav-wrapper{
 
    .right-side.responsive  {
        .nav-link-wrapper {
            svg {
                position: absolute;
                top: 28px;
                right: 38px;
                z-index: 1;
            }
    
            a {
                display: block;
                color: white;
                &:hover {
                    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
                        background-color: transparent;
                }
            }
    
            // &:nth-child(1) {
            //     display: block;
            //     margin-left: 245px;
            //     font-size: 2.7em;
            //     z-index: 5;
            // }
    
            
        }
    }
    }
    .footer-wrapper {
        p {
            font-size: 0.9em;
            
        }
    }
}


@media only screen and (max-width: 600px) {
    .bg-wrapper {
        height: 70vh;
        .bg-content {
            flex-direction: column;
            .left-side {
                margin: 0;
                img {
                    height: 30vh;;
                }
            }
            .right-side  {
                height: 120px;
                justify-content: center;
                p {
                font-size: 0.6em;
                }
            }
            .more-info-btn  {
                a {
                padding: 10px 15px;
                font-size: 0.8em;
                }
            }
        }
    }
    .body-wrapper {
        .top-card {
            p {
                font-size: 1.5em;
            }
            .grid-container {
                display: flex;
                flex-direction: column;
                .left-side {
                    iframe {
                        height: 35vh;
                    }
                }
                .right-side {
                    p{
                        font-size: 0.9em;
                    }
                }
            }
            
        }
        .bottom-card {
            p {
                font-size: 1.5em;
            }
            .grid-container {
                display: flex;
                flex-direction: column-reverse;
                .right-side {
                    iframe {
                        height: 35vh;
                    }
                }
                .left-side {
                   p {
                       font-size: 0.9em;
                   }
               }
           }
        }
    }
    .about-wrapper {
        .about-content-wrapper{
            display: flex;
            flex-direction: column;
            .left-side {
                img {
                    height: 300px;
                }
                .mena-bio h4, i, p {
                    font-size: 0.7em;
                }
            }
            .right-side strong, p {
                font-size: 0.7em; 
            }
        }
    
    .staff-grid-wrapper {
        .staff-grid-2, .staff-grid-3, .staff-grid-2s {
            .staff-member {
                img {
                    height: 180px;
                    width: 180px;
                }
                strong, i, p {
                    font-size: 0.7em;
                }
            }
        }
    }
}
.nav-wrapper {
.right-side.responsive  {
        .nav-link-wrapper {
    
            // &:nth-child(1) {
            //     display: block;
            //     margin-left: 170px;
            //     font-size: 2.7em;
            //     z-index: 5;
            // }
    
            
        }
    }
    }
    .footer-wrapper {
        p {
            font-size: 0.8em;
            
        }
    }
}

@media only screen and (max-width: 520px) {
    .nav-wrapper {
        width: 80px;
        height: 45px;
        .left-side{
            a {
                margin-top: 15px;
                margin-left: 10px;
                font-size: 0.7em;
                padding: 5px 10px;
            }
            img {
                display: none;
                
            }


        }
        .right-side {
            .nav-link-wrapper svg {
                margin-top: 15px;
            }
        }
        
    }
   
 

    .bg-wrapper {
        .bg-content {
            .right-side {
                p {
                    padding: 0px 20px;
                }
    
                a{
                    font-size: 0.5em;
                }
            }
        }
    }
    

    .body-wrapper {
        .top-card {
            p {
                font-size: 1.5em;
            }
            .grid-container {
                display: flex;
                flex-direction: column;
                .left-side {
                    iframe {
                        height: 25vh;
                    }
                }
                .right-side {
                    p{
                        font-size: 0.7em;
                        padding: 0px 15px;
                    }
                }
            }
            
        }
        .bottom-card {
            p {
                font-size: 1.5em;
            }
            .grid-container {
                display: flex;
                flex-direction: column-reverse;
                .right-side {
                    iframe {
                        height: 25vh;
                    }
                }
                .left-side {
                   p {
                       font-size: 0.7em;
                       padding: 0px 15px;
                   }
               }
           }
        }
    }

    .about-wrapper {
        .about-content-wrapper{
            width: 98%;
            .left-side {
                img {
                    height: 250px;
                }
                .mena-bio h4, i, p {
                    font-size: 0.7em;
                }
            }
            .right-side strong, p {
                font-size: 0.7em; 
            }
        }
    
    .staff-grid-wrapper {
        .staff-grid-2, .staff-grid-3, .staff-grid-2s {
            display: flex;
            flex-direction: column;
            .staff-member {
                img {
                    height: 220px;
                    width: 220px;
                }
                strong, i, p {
                    font-size: 0.7em;
                }
            }
        }
    }
}    
.service-wrapper {
    .cards-wrapper {
        .service-content {
           .service-header {  
               
           }
           .service-card {
               display: flex;
               flex-direction: column;
               .left-side {
                   padding: 0px;
                   img {
                       height: 190px;
                   }
               }
               .right-side {
                   padding: 10px 30px;
                   p {
                       font-size: 0.7em;
                   }
               }
           }
       }
    }
    .cards-wrapper {
        .service-content1 {
        
           .service-header {  
               
           }
           .service-card {
            display: flex;
            flex-direction: column-reverse;
               .left-side {
                   padding: 10px 30px;
                   p {
                       font-size: 0.7em;
                   }
               }
               .right-side {
                   padding: 0px;
                   img {
                       height: 190px;
                   }
               }
           }
       }
    }
    }
}

