@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.bg-wrapper {
  height: 90vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(rgba(255, 255, 255, 0.5))), url("../assets/media/main_bg.jpg");
  background-image: linear-gradient(white, rgba(255, 255, 255, 0.5)), url("../assets/media/main_bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  background-color: #B0DBE5;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.nav-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-wrapper .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-wrapper .left-side a {
  text-decoration: none;
  background-color: #AC5645;
  padding: 15px 10px;
  color: white;
  border-radius: 3px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.nav-wrapper .left-side a:hover {
  -webkit-box-shadow: 10px 10px 15px -7px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 15px -7px rgba(0, 0, 0, 0.75);
}

.nav-wrapper .left-side a:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0 0 #aaa;
          box-shadow: 0 0 #aaa;
}

.nav-wrapper .left-side img {
  height: 80px;
}

.nav-wrapper .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-wrapper .right-side .nav-link-wrapper svg {
  display: none;
}

.nav-wrapper .right-side a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding: 10px 11px;
  border: 1px solid transparent;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nav-wrapper .right-side a:hover {
  -webkit-box-shadow: 10px 10px 15px -7px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 15px -7px rgba(0, 0, 0, 0.75);
  background-color: #0F9CBF;
  color: white;
  font-weight: 300;
  padding: 10px 10px;
  border-radius: 3px;
  font-weight: 600;
}

.nav-wrapper .right-side a:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0 0 #aaa;
          box-shadow: 0 0 #aaa;
}

.bg-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg-content .left-side img {
  height: 75vh;
  margin: 50px 0px;
}

.bg-content .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 500px;
  font-size: 1.5em;
}

.bg-content .right-side .more-info-btn a {
  background-color: #0F9CBF;
  text-decoration: none;
  padding: 30px 35px;
  color: white;
  font-size: 0.9em;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.bg-content .right-side .more-info-btn a:hover {
  -webkit-box-shadow: 10px 10px 15px -7px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 15px -7px rgba(0, 0, 0, 0.75);
}

.bg-content .right-side .more-info-btn a:active {
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  -webkit-box-shadow: 0 0 #aaa;
          box-shadow: 0 0 #aaa;
}

.body-wrapper {
  width: 80%;
  margin: auto;
}

.body-wrapper .top-card {
  background-color: #B0DBE5;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.body-wrapper .top-card p {
  font-family: "Cinzel", sans-serif;
  font-size: 2em;
  padding-top: 30px;
}

.body-wrapper .top-card .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-wrapper .top-card .grid-container .right-side p {
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding: 25px 60px;
  font-size: 1.2em;
  margin: 50px 0px;
}

.body-wrapper .bottom-card {
  background-color: #B0DBE5;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.body-wrapper .bottom-card p {
  font-family: "Cinzel", sans-serif;
  font-size: 2em;
  padding-top: 30px;
}

.body-wrapper .bottom-card .grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-wrapper .bottom-card .grid-container .left-side p {
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding: 25px 60px;
  font-size: 1.2em;
  margin: 50px 0px;
}

.body-wrapper .bottom-card .grid-container .right-side {
  margin-bottom: 15px;
}

.footer-wrapper {
  background-color: #0F9CBF;
  color: white;
  height: 10vh;
}

.footer-wrapper p {
  padding-top: 33px;
  font-size: 1.5em;
}

.header-wrapper {
  background-color: #0F9CBF;
  color: white;
  font-family: "Cinzel", sans-serif;
}

.header-wrapper p {
  font-size: 2em;
  padding: 15px 0px;
}

.about-wrapper .about-content-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  width: 80%;
  gap: 39px;
  margin: 0px auto;
}

.about-wrapper .about-content-wrapper .left-side img {
  border-radius: 50%;
  height: 350px;
}

.about-wrapper .about-content-wrapper .left-side .mena-bio {
  background-color: #B0DBE5;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 29px 50px;
}

.about-wrapper .about-content-wrapper .right-side {
  background-color: #B0DBE5;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 25px 50px;
}

.about-wrapper .staff-grid-wrapper .staff-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  width: 80%;
  margin: auto;
}

.about-wrapper .staff-grid-wrapper .staff-grid .staff-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-wrapper .staff-grid-wrapper .staff-grid .staff-member img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
  margin-bottom: 15px;
}

.service-wrapper .cards-wrapper {
  width: 80%;
  margin: auto;
}

.service-wrapper .cards-wrapper .service-content {
  background-color: #B0DBE5;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.service-wrapper .cards-wrapper .service-content .service-header {
  font-family: "Cinzel", sans-serif;
  font-size: 2em;
}

.service-wrapper .cards-wrapper .service-content .service-header p {
  padding-top: 20px;
}

.service-wrapper .cards-wrapper .service-content .service-card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  font-size: 1.1em;
}

.service-wrapper .cards-wrapper .service-content .service-card .left-side {
  padding: 0 0 25px 125px;
}

.service-wrapper .cards-wrapper .service-content .service-card .right-side {
  padding-right: 145px;
}

.service-wrapper .cards-wrapper .service-content1 {
  background-color: #86C3D2;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.service-wrapper .cards-wrapper .service-content1 .service-header {
  font-family: "Cinzel", sans-serif;
  font-size: 2em;
}

.service-wrapper .cards-wrapper .service-content1 .service-header p {
  padding-top: 20px;
}

.service-wrapper .cards-wrapper .service-content1 .service-card {
  font-size: 1.1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.service-wrapper .cards-wrapper .service-content1 .service-card .left-side {
  padding-left: 157px;
}

.service-wrapper .cards-wrapper .service-content1 .service-card .right-side {
  padding: 0 70px 25px 0;
}

.contact-wrapper .contact-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.contact-wrapper .contact-info .left-side .contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-wrapper .contact-info .left-side .contact-item .icon-wrapper {
  font-size: 2em;
  color: #0F9CBF;
}

.contact-wrapper .contact-info .left-side .contact-item .contact-detail {
  width: 50%;
}

.contact-wrapper .contact-info .left-side .contact-item .contact-detail p:nth-child(1) {
  font-family: "Cinzel", sans-serif;
  color: #AC5645;
}

.contact-wrapper .contact-info .right-side div div {
  height: 40% !important;
  width: 40% !important;
}

.contact-wrapper .contact-info .right-side div div div {
  position: absolute !important;
  overflow: hidden !important;
  height: 100% !important;
  width: 100% !important;
}

.contact-wrapper .contact-footer {
  margin: 100px auto;
}

.contact-wrapper .contact-footer p:nth-child(1) {
  font-family: "Cinzel", sans-serif;
  color: #AC5645;
  font-size: 1.2em;
}

.contact-wrapper .contact-footer p:nth-child(2) {
  font-size: 1.5em;
}

.about-visit-info {
  text-align: center;
  width: 50%;
  margin: auto;
}

.form-wrapper {
  width: 80%;
  margin: auto;
}

.form-wrapper .form-header {
  font-family: "Cinzel", sans-serif;
  color: #AC5645;
  font-size: 1.5em;
}

.form-wrapper .patient-info-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.form-wrapper .patient-info-wrapper .form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-wrapper .patient-info-wrapper .form-item input {
  height: 28px;
  font-size: 16px;
  border: 4px solid #B0DBE5;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border-radius: 3px;
}

.form-wrapper .patient-info-wrapper .form-item input:focus {
  border: solid 4px #0F9CBF;
}

.form-wrapper .patient-info-wrapper .form-item select {
  height: 35px;
  font-size: 16px;
  border: 4px solid #B0DBE5;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.form-wrapper .patient-info-wrapper .form-item select:focus {
  border: solid 4px #0F9CBF;
}

.form-wrapper .emergency-contact-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.form-wrapper .emergency-contact-wrapper .form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-wrapper .emergency-contact-wrapper .form-item input {
  height: 28px;
  font-size: 16px;
  border: 4px solid #B0DBE5;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border-radius: 3px;
}

.form-wrapper .emergency-contact-wrapper .form-item input:focus {
  border: solid 4px #0F9CBF;
}

.form-wrapper .emergency-contact-wrapper .form-item select {
  height: 35px;
  font-size: 16px;
  border: 4px solid #B0DBE5;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.form-wrapper .emergency-contact-wrapper .form-item select:focus {
  border: solid 4px #0F9CBF;
}

.form-wrapper .doctor-info-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.form-wrapper .doctor-info-wrapper .form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-wrapper .doctor-info-wrapper .form-item input {
  height: 28px;
  font-size: 16px;
  border: 4px solid #B0DBE5;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border-radius: 3px;
}

.form-wrapper .doctor-info-wrapper .form-item input:focus {
  border: solid 4px #0F9CBF;
}

.form-wrapper .doctor-info-wrapper .form-item select {
  height: 35px;
  font-size: 16px;
  border: 4px solid #B0DBE5;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.form-wrapper .doctor-info-wrapper .form-item select:focus {
  border: solid 4px #0F9CBF;
}

.form-wrapper .pharmacy-info-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.form-wrapper .pharmacy-info-wrapper .form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-wrapper .pharmacy-info-wrapper .form-item input {
  height: 28px;
  font-size: 16px;
  border: 4px solid #B0DBE5;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border-radius: 3px;
}

.form-wrapper .pharmacy-info-wrapper .form-item input:focus {
  border: solid 4px #0F9CBF;
}

.form-wrapper .pharmacy-info-wrapper .form-item select {
  height: 35px;
  font-size: 16px;
  border: 4px solid #B0DBE5;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.form-wrapper .pharmacy-info-wrapper .form-item select:focus {
  border: solid 4px #0F9CBF;
}

.form-wrapper .first-insurance-info-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.form-wrapper .first-insurance-info-wrapper .form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-wrapper .first-insurance-info-wrapper .form-item input {
  height: 28px;
  font-size: 16px;
  border: 4px solid #B0DBE5;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border-radius: 3px;
}

.form-wrapper .first-insurance-info-wrapper .form-item input:focus {
  border: solid 4px #0F9CBF;
}

.form-wrapper .first-insurance-info-wrapper .form-item select {
  height: 35px;
  font-size: 16px;
  border: 4px solid #B0DBE5;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.form-wrapper .first-insurance-info-wrapper .form-item select:focus {
  border: solid 4px #0F9CBF;
}

.form-wrapper .second-insurance-info-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}

.form-wrapper .second-insurance-info-wrapper .form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-wrapper .second-insurance-info-wrapper .form-item input {
  height: 28px;
  font-size: 16px;
  border: 4px solid #B0DBE5;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border-radius: 3px;
}

.form-wrapper .second-insurance-info-wrapper .form-item input:focus {
  border: solid 4px #0F9CBF;
}

.form-wrapper .second-insurance-info-wrapper .form-item select {
  height: 35px;
  font-size: 16px;
  border: 4px solid #B0DBE5;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.form-wrapper .second-insurance-info-wrapper .form-item select:focus {
  border: solid 4px #0F9CBF;
}

.form-wrapper .btn {
  height: 50px;
  width: 150px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  background-color: #0F9CBF;
  margin-top: 50px;
}

@media only screen and (min-width: 600px) {
  .bg-wrapper .bg-content .right-side p {
    font-size: 1.2em;
  }
}
/*# sourceMappingURL=app.css.map */